<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Responsive Grid Layout</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Die Cat Project - from Tamino and Tobias</h1>
        </header>
        <aside class="sidebar">
            <h3>Leaderboard</h3>
            <ul>
                <li>Kaka</li>
                <li>Pipi</li>
                <li>Popo</li>
            </ul>
        </aside>
        <main class="main">
            <img src="<%= cat.url %>" width="<%= cat.width %>" height="<%= cat.height %>">
        </main>
        <section class="wide">
            <h3>Informations about <%= cat.breeds[0].name %></h3>
            <p><%= cat.breeds[0].description %></p>
            <h3>Other Informations about <%= cat.breeds[0].name %></h3>
            <ul>
                <li>Also known under: <span><%= cat.breeds[0].alt_names %></span></li>
                <li>Average life span: <span><%= cat.breeds[0].life_span %></span></li>
                <li>Average weight: <span><%= cat.breeds[0].weight.imperial%></span></li>
            </ul>
        </section>
        <footer class="footer">
            <div class="button-container">
                <button class="like" onclick="sendMessage('like')">Like</button>
                <button class="dislike" onclick="sendMessage('dislike')">Dislike</button>
            <div id="response"></div>
          </div>
        </footer>
        <div class="bottom">Ausführliche Informationen</div>
        <footer class="footer-bottom">Copyright, Impressum, etc.</footer>
    </div>
    <script>
        // Function to send "Hello World" via button
        function sendMessage(message) {
            fetch('/api', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ message: message, cat: '<%=cat.id %>' })
            })
            .then(response => response.json()) // Parse the response as JSON
            .then(data => {
                console.log('Success:', data); // Log the server response
                // document.getElementById('response').innerText = 'Server Response: ' + JSON.stringify(data);
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('response').innerText = 'Error: ' + error;
            });
        };
    </script>
</body>
</html>