<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Responsive Grid Layout</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>The Cat Project - from Tamino and Tobias</h1>
        </header>
        <aside class="sidebar">
            <h3>Leaderboard</h3>
            <ul>
                <li>Kaka</li>
                <li>Pipi</li>
                <li>Popo</li>
            </ul>
        </aside>
        <main class="main">
            <img src="<%= cat.url %>" max-width="<%= cat.width %>" max-height="<%= cat.height %>">
        </main>
        <section class="wide">
            <h3>Informations about <%= cat.breeds[0].name %></h3>
            <p><%= cat.breeds[0].description %></p>
            <ul>
                <% if (cat.breeds[0].alt_names) { %>
                    <li>Also known under: <span><%= cat.breeds[0].alt_names %></span></li>
                <% }; %>
                <li>Life span: <span><%= cat.breeds[0].life_span %></span></li>
                <li><div>Average weight:</div><span><%= cat.breeds[0].weight.imperial%></span></li>
                <li>Origin: <span><%= cat.breeds[0].origin %></span></li>
            </ul>
        </section>
        <footer class="footer">
            <div class="button-container">
                <button class="like" onclick="sendMessage('like')">Like</button>
                <button class="dislike" onclick="sendMessage('dislike')">Dislike</button>
            <div id="response"></div>
          </div>
        </footer>
        <div class="bottom">
            <h3>Stats:</h3>
            <ul>
                <li>Indoor:<span><%= cat.breeds[0].indoor %>/5</span></li>
                <li>Adaptability:<span><%= cat.breeds[0].adaptability %>/5</span></li>
                <li>Affection level:<span><%= cat.breeds[0].affection_level %>/5</span></li>
                <li>Child friendly:<span><%= cat.breeds[0].child_friendly %>/5</span></li>
                <li>Dog friendly:<span><%= cat.breeds[0].dog_friendly %>/5</span></li>
                <li>Energy level:<span><%= cat.breeds[0].energy_level %>/5</span></li>
                <li>Grooming:<span><%= cat.breeds[0].grooming %>/5</span></li>
                <li>Health issues:<span><%= cat.breeds[0].health_issues %>/5</span></li>
                <li>Intelligence:<span><%= cat.breeds[0].intelligence %>/5</span></li>
                <li>Shedding level:<span><%= cat.breeds[0].shedding_level %>/5</span></li>
                <li>Social needs:<span><%= cat.breeds[0].social_needs %>/5</span></li>
                <li>Stranger friendly:<span><%= cat.breeds[0].stranger_friendly %>/5</span></li>
                <li>Vocalisation:<span><%= cat.breeds[0].vocalisation %>/5</span></li>
                <li>Experimental:<span><%= cat.breeds[0].experimental %>/5</span></li>
                <li>Hairless:<span><%= cat.breeds[0].hairless %>/5</span></li>
                <li>Natural:<span><%= cat.breeds[0].natural %>/5</span></li>
                <li>Rare:<span><%= cat.breeds[0].rare %>/5</span></li>
                <li>Rex:<span><%= cat.breeds[0].rex %>/5</span></li>
                <li>Suppressed Tail:<span><%= cat.breeds[0].suppressed_tail %>/5</span></li>
                <li>Short legs:<span><%= cat.breeds[0].short_legs %>/5</span></li>
                <li>Hypoallergenic:<span><%= cat.breeds[0].hypoallergenic %>/5</span></li>

            </ul>
        </div>
        <footer class="footer-bottom">Copyright, Impressum, etc.</footer>
    </div>
    <script>
        // Function to send "Hello World" via button
        function sendMessage(message) {
            fetch('/api', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ message: message, cat: '<%=cat.id %>' })
            })
            .then(response => response.json()) // Parse the response as JSON
            .then(data => {
                console.log('Success:', data); // Log the server response
                // document.getElementById('response').innerText = 'Server Response: ' + JSON.stringify(data);
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('response').innerText = 'Error: ' + error;
            });
        };
    </script>
</body>
</html>